* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --accent-color: #00796b;
    --foreground-color: #0F1419;
    --background-color: white;
    --gray-dark-color: #66757F;
    --gray-light-color: #edeff1;
    --primary: #00c1c4;
    --secondary: #00FFCA;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--foreground-color);
    background-color: var(--background-color);
}
ul {
    list-style-type: none;
}
button {
    border: unset;
    background: unset;
}
.login-page {
    background: url(https://images.pexels.com/photos/3895303/pexels-photo-3895303.jpeg?auto=compress&cs=tinysrgb&w=1600);
}
.register-page {
    background: url(https://images.pexels.com/photos/289367/pexels-photo-289367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.home-page {
    /* background: url(https://images.pexels.com/photos/1776267/pexels-photo-1776267.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    background: url(https://images.pexels.com/photos/3876407/pexels-photo-3876407.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.login-page, .register-page, .home-page {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-light-color);
}
.auth-overlay {
    background: rgba(136, 165, 183, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(169, 165, 165, 0.3);
    width: fit-content;
    padding: 40px 20px;
    margin: auto;
}
.home-overlay {
    background: rgb(4 8 41 / 17%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-header {
    padding-bottom: 20px;
}

.login-input, .register-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.login-input input, .register-input input {
    display: block;
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--gray-dark-color);
    background: rgb(240 240 240 / 14%);
    color: var(--gray-light-color)
    
  }
*::-webkit-input-placeholder { 
    color: var(--gray-light-color);
}
*::-moz-placeholder { 
    color: var(--gray-light-color);
}
*:-ms-input-placeholder {
    color: var(--gray-light-color);
}
*:-moz-placeholder { 
    color: var(--gray-light-color);
}

.btn-primary {
    background: var(--primary);
    color: var(--gray-light-color);
    border: unset;
}
.btn-secondary {
    background: var(--secondary);
    color: var(--gray-light-color);
    border: unset;
}
.btn-unset {
    color: var(--primary);
    background: unset;
    border: 1px solid var(--secondary);
}
.btn-primary, .btn-secondary, .btn-unset {
    border-radius: 4px;
    padding: 12px 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
}
.btn-small {
    padding: 5px !important;
    font-size: 12px;
    font-weight: 400;
}

.option-link {
    margin-top: 15px;
    font-size: 13px;
    color: var(--gray-light-color);
}
.option-link a {
    padding-left: 5px;
    font-size: 13px;
    color: var(--primary);
    text-decoration: none;
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.badge {
    color: var(--primary);
    width: fit-content;
    border-radius: 3px;
    font-size: 9px;
    padding: 2px 5px;
}
.thread-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 0;
}
.card-thread {
    /* background: rgba(136, 165, 183, 0.5); */
    /* background: rgb(82 134 192 / 50%); */
    /* background: rgb(72 120 123 / 47%); */
    background: rgb(0 0 0 / 53%);
    border-radius: 10px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}
.header-thread {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}
.title {
    padding-top: 5px;
}

.name-thread {
    font-size: 15px;
    color: var(--primary)
}
.time-thread {
    font-size: 10px;
}
.thumbs-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.thumbs {
    display: flex;
    align-items: center;
    background: unset;
    border: unset;
    color: #fff;
}
.total-thumbs {
    font-size: 12px;
    padding-left: 2px;
}
footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: #193b42;
}
footer  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 20px;
    max-width: 600px;
    margin: auto;
}
footer ul li {
    text-align: center;
}
.footer-page {
    font-size: 13px;
}
.page-active {
    color: var(--primary);
}
.page-nonactive {
    color: var(--gray-light-color)
}